body, html {
    margin: 0;
    padding:0;
    background-color: #f2d9a5;
    color: #000;
    font-size: 1.2em;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ffa600;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}

span {
    color: #fff;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover {
    color: #f0c330;
    transition: 0.5s;
}

img {
    width: 10%;
    margin-top: -1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #510f58;
    height: auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}

.footer-bottom {
    background: #510f58;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 18px;
    word-spacing: 2px;
    text-transform: capitalize;
}

img.floatLeft {
	display: block;
	float: left;
	margin: 0 15px;
	height: 150px;
}

.p h2 {
    text-align: center;
    width: 75%;
    margin: auto;
}